<ul>
  <li>
    <a routerLink="/binding" routerLinkActive="menu_selected">Binding</a>
  </li>
  <li>
    <a routerLink="/usuarios" routerLinkActive="menu_selected">Usuarios</a>
  </li>
  <li>
    <a routerLink="/usuarios2" routerLinkActive="menu_selected">Usuarios Master</a>
  </li>
  <li>
    <a routerLink="/galeria" routerLinkActive="menu_selected">Galería</a>
  </li>
  <li>
    <a routerLink="/template-variables" routerLinkActive="menu_selected">Variables de plantilla</a>
  </li>
  <li>
    <a routerLink="/usuarios/edit" routerLinkActive="menu_selected">Editar usuario</a>
  </li>
  <li>
    <a routerLink="/observables" routerLinkActive="menu_selected">Observables</a>
  </li>
</ul>
